
body {
  display:grid;
  margin: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  font-family: Cambria,Georgia,serif; 
  min-width:740px;
  max-width:900px;
}
.pic {
 float:left;
}

img {
  background: #651144;
  height:100%;
}

.header {
  grid-column:2/13;
  grid-row:1;
  color:#6e2e9f;
  text-align: center;
  line-height:2;
  max-height: 150px;
  margin-bottom:0;
}
.invitation {
  grid-column:2/13;
  grid-row:2;
  text-align: center;
  line-height:2;
  padding-top:30px;
  padding-bottom:30px;
  max-height: 120px;
}
.content {
  grid-column:5/12;
  grid-row:4;
  font-size: 1em;
}
.content p{
  font-weight: bold;
}

ul{
  margin-block-start: 0;
  padding-inline-start: 15px;
}

.line {
  grid-column:5/9;
  grid-row:3;
  text-align: left;
  padding-top: 10px;
  font-size:1.1em;
  font-weight:bold;
  padding-bottom:10px;
  max-height: 30px;
}
hr {
  height: 1.5px;
  background:repeating-linear-gradient(90deg, #000, #000 11px,transparent 11px,transparent 12px);
}

.principle {
  font-style:italic; 
}
.principle li {
  list-style-type: "*  ";
}

.attention {
  grid-column:2/7;
  grid-row:5;
  text-align: center;
  margin-top:50px;
  margin-right: 25px;
  border: 1px solid black;
}

.attention li {
  padding-bottom: 5px;
}

h3 {
  color:#ed7c30;
}
.details {
  text-align: left;  
}
.start {
  grid-column:7/12;
  grid-row:5;
  text-align: center;
  margin-top:50px;
  margin-left: 25px;
  border: 1px solid black;
}
.start li {
  padding-bottom: 5px;
}
.info {
  grid-column:2/12;
  grid-row:6;
  text-align: center;
  margin-top:50px;
  border: 1px solid black;
  max-height: 100px;
}
.infoDetails {
  display:grid;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
}