body {
  font-family: Cambria,Georgia,serif;  
  color:#651144;
  margin-left:2%;
  margin-right:2%;
  min-width: 750px;
}

.header {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-right:15%;
  
}
.pic {
  float:left;
  grid-column:1;
  grid-row:1;
  height: 150px;
}

.grid {
  display:grid;
  margin: 0;
  grid-template-columns: repeat(2, 1fr);
}
.invitation {
  grid-column:1 / span 2;
  grid-row:2;
  text-align: center;
  line-height:1.5;
}
.line {
  grid-column:1 / span 2;
  grid-row:3;
  text-align: center;
  text-decoration: underline dashed;
}
.content {
  grid-column:1 / span 2;
  grid-row:4;
  text-align: center;
  display:flex;
  justify-content: space-around;
}
.content div{
  width : 48%;
}
.content p{
  font-weight: bold;
}
.contentInside {
  font-weight:normal;
  text-align: left;
}
.principle {
  font-style:italic; 
}
.principle li {
  list-style-image: url("check-mark-10.svg");
  list-style-position:inside;
  text-align: left;
  padding-left:30%;
}
.attention {
  grid-column:1;
  grid-row:5;
  text-align: center;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 10px 5px 5px gray;
  padding:10px;
  border-radius: 30px;
}
h3 {
  color:#FF3D00;
}
.details {
  text-align: left;  
}
.start {
  grid-column:2;
  grid-row:5;
  text-align: center;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 10px 5px 5px gray;
  padding:10px;
  border-radius: 30px;
}
.info {
  grid-column:1 / span 2;
  grid-row:6;
  text-align: left;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 10px 5px 5px gray;
  margin-bottom:75px;
  border-radius: 30px;
  
}
h3 {
  margin-top:35px;
  text-align: center;  
}
.infoDetails {
  display:grid;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  margin-bottom:75px;
  margin-top:35px;
  padding-left:15%;
}
a:hover {
  color:#FF3D00;
}
svg {
  fill: #F57F17;
  width: 40px;
  margin-right: 10px;
  float:left;
}
span, a {
  color:#F57F17;
  margin-bottom:10px;
  font-size:smaller;
}

@media only screen and (max-device-width:450px) {
  body {
    grid-template-rows: 300px;
  }
  h1 {
    font-size: 95%;
  }
  h2 {
    font-size: 90%;
  }
  .content {
    display: block;
  }
  .content div {
    width : 100%;
  }
  .attention {
    grid-column: 1/ span 2;
  }
  .start {
    grid-column: 1/ span 2;
    grid-row:6;
  }
  .info {
    grid-row:7;
  }

.infoDetails {
  grid-template-columns: 1fr ;
  grid-template-rows:repeat(3, 1fr);
  grid-auto-flow:row;
  text-align: center;
  padding-left: 0;
 } 
 svg {
  
  float:none;
}
}