body {
  display:grid;
  margin: 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 150px;
  font-family: Cambria,Georgia,serif; 
  color:#651144;
  margin:2%;
}
.pic {
  float:left;
  grid-column:1;
  grid-row:1;
  height: 100%;
}

.header {
  grid-column-start:2;
  grid-column-end:7;
  grid-row-start:1;
  grid-row-end:1;
  color:#651144;
  text-align: center;
  line-height:1.5;
  margin-bottom:0;
}
.invitation {
  grid-column-start:1;
  grid-column-end:7;
  grid-row-start:2;
  grid-row-end:2;
  text-align: center;
  line-height:1.5;

}
.content {
  grid-column-start:1;
  grid-column-end:7;
  grid-row-start:4;
  grid-row-end:4;
  text-align: center;
  display:flex;
  justify-content: space-around;
}
.content div{
  width : 48%;
}
.content p{
  font-weight: bold;
}
.line {
  grid-column-start:3;
  grid-column-end:5;
  grid-row-start:3;
  grid-row-end:3;
  text-align: center;
  padding-top: 10px;
  font-weight:bold;
  padding-bottom:10px;
  max-height: 30px;
}
hr {
  border-top: 2px dashed black;
}
.contentInside {
  font-weight:normal;
  text-align: left;

}
.principle {
  font-style:italic; 
}
.principle li {
  list-style-image: url("check-mark-10.svg");
  list-style-position:inside;
  text-align: left;
}
.attention {
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start:5;
  grid-row-end:5;
  text-align: center;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 10px 5px 5px gray;
  padding:10px;
  border-radius: 30px;
}
h3 {
  color:#FF3D00;
}
.details {
  text-align: left;  
}
.start {
  grid-column-start:4;
  grid-column-end:7;
  grid-row-start:5;
  grid-row-end:5;
  text-align: center;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 10px 5px 5px gray;
  padding:10px;
  border-radius: 30px;
}
.info {
  grid-column-start:1;
  grid-column-end:7;
  grid-row-start:6;
  grid-row-end:6;
  text-align: center;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 10px 5px 5px gray;
  max-height: 100px;
  margin-bottom:75px;
  border-radius: 30px;
}
.infoDetails {
  display:grid;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  margin-bottom:75px;
}
a:hover {
  color:#FF3D00;
}
svg {
  fill: #F57F17;
  width: 40px;
  margin-right: 10px;
  padding-left:150px;
}
.instagram {
  padding-left:120px;
}
.telegram {
  padding-left:200px;
}
@media (max-width:750px) {
  
}